*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Concert One', sans-serif;
}

body{
    background-color: #555;
}
/*
#start-btn{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    font-size: 20px;
    padding: 20px 30px;
    align-items: center;
    border-radius: 6px;
    transition: .15s;
}

#start-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.9);
} */
#start-btn{
background-color: orange;
min-width:100px;
height:50px;
margin-bottom: 150px;
text-transform: uppercase;
padding: 15px;
border: none;
outline: none;
font-weight: 400px;
font-size: 20px;
border-radius: 3px;
box-shadow: 4px 5px 0px;
border-bottom: 2px solid;
border-right: 1px solid;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#start-btn:hover {
background-color: lightgrey;
box-shadow: 3px 3px 1px;
border-bottom: 2px solid;
/* transform: translate(-1%, -1%); */
transition: all 0.1s ease-in;
}

#start-btn:active {
box-shadow: none;
border-bottom-width: 2px;
 /* transform: translate(-50%, -50%); */
}
















h3{
    text-align: center;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;

}

#show-container{
    margin: 50px auto;
    max-width: 550px;
    align-items: center;
    text-align: center;

}

.container{
    display: none;
}



.btn{
   padding: 20px 25px;
   background-color: aliceblue;
   margin: 15px;
   width: 130px;
   height: 130px;
   border-radius: 80px;
   border: 5px solid #989898;
   cursor: pointer;
}

p{
   font-size: 20px;
   margin: 30px 0;
   text-align: center;
   padding-left: 33px;
}

.shows-the-score{
    font-size: 25px;
    font-weight: bold;
    padding-left: 0px;
}

.reset-btn{
    background-color: rgb(216, 143, 7);
    padding: 12px 25px;
    margin-top: 18px;
    font-size: 16px;
    border-radius: 5px;
    transition: .15s;
}

.reset-btn:active{
    background-color: #989898;

}


.move-img{
    width: 55px;
    height: 55px;
    max-width: 100px;
}



